body > #bjoern-buettner-advertisement {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    > span {
        line-height: initial;
        display: block;
        background-color: darkgreen;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
        color: #fff;
        text-align: center;
        font-size: 0.5em;
    }
    > img {
         display: block;
         width: 53px;
         height: 32px;
    }
    &:hover {
        > span {
            font-size: 0.75em;
        }
        > img {
            width: 106px;
            height: 64px;
        }
    }
}