:root {
    --very-light-green: #f8fff8;
    --dark-green: rgb(0, 46, 30);
    --very-dark-green: rgba(0, 2, 1);
    --highlight: darkblue;
    --lightened-min: rgba(255, 255, 255, 0);
    --lightened-max: rgba(255, 255, 255, 0.15);
    --lightened-average: rgba(255, 255, 255, 0.075);
    --darkened-min: rgba(0, 0, 0, 0);
    --darkened-max: rgba(0, 0, 0, 0.15);
    --darkened-average: rgba(0, 0, 0, 0.075);
}
* {
    box-sizing: border-box;
}
img {
    border: 0;
}
body, html {
    background-color: var(--very-light-green);
    color: var(--very-dark-green);
    padding: 0;
    margin: 0;
    font-size: 18px;
}
div > div {
    padding: 0.5em;
}
h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 0;
    padding: 0.5em;
}
ul, li {
    display: block;
    padding:0;
    margin: 0;
}
ul ul {
    display:none;
    > li {
        padding: 0.23em;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 0.25em;
        box-shadow: 3px 3px 5px #ccc;
        margin: 0.25em;
    }
}
li.active ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bar {
    padding: 0 10%;
    background-color: var(--dark-green);
    color: var(--very-light-green);
    background-image: linear-gradient(to bottom, var(--lightened-average), var(--lightened-max), var(--lightened-min)), linear-gradient(to right, var(--lightened-min), var(--lightened-max));
}

li h3 {
    cursor: pointer;
    color: var(--dark-green);
    background-color: var(--very-light-green);
    border-radius: 2em;
}
p {
    margin: 0;
    padding: 0.25em;
}
nav a,
nav span {
    color: var(--very-light-green);
    background: var(--lightened-max);
    border-radius: 0.25em;
    padding: 0.25em;
    display: inline-block;
    text-decoration: none;
    &.active {
        background-color: var(--darkened-average);
        padding-left: 1.75em;
        background-image: url("icon.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    &:hover {
        background-color: var(--darkened-average);
    }
    &.active:hover {
        background-color: var(--darkened-max);
    }
}
nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    text-align: center;
    padding: 0.25em 0;
}
#body {
    max-width: 1024px;
    width: 80%;
    margin: 3em auto;
    box-shadow: 3px 3px 5px #ccc;
    background: var(--darkened-average);
    padding: 2em 1em;
    > ul > li {
        border: 1px solid #ddd;
        border-radius: 2em;
    }
    > ul > li > h3:hover {
        color: var(--highlight);
    }
    > ul > li.active > h3 {
        color: var(--highlight);
    }
    > ul > li.active {
        border: none;
        padding-bottom: 0.5em;
    }
    a {
        color: var(--highlight);
        background: var(--darkened-average);
        border-radius: 0.1em;
    }
}

footer.bar {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
footer a,
footer a:hover,
footer a:active,
footer a:visited,
footer a:focus {
    color: var(--very-light-green);
}
footer img {
    max-height: 32px;
    display: block;
}
footer img.small {
     width: 20px;
     display: none;
}
footer img.small:nth-of-type(2),
footer a:hover img.small{
    display: block;
}
footer {
    display: grid;
    grid-template-columns: 100px auto 50px;
    justify-items: center;
    align-items: center;
}

ul#share-buttons{
    list-style: none;
    padding: 0;
    position: fixed;
    top: 25%;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    > li {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        > a,
        > a:hover,
        > a:active,
        > a:visited,
        > a:focus {
            color: white;
            cursor: pointer;
            text-decoration: none;
            width: 32px;
            height: 32px;
            display: block;
            background-image: linear-gradient(to bottom, var(--lightened-average), var(--lightened-max), var(--lightened-min)), linear-gradient(to right, var(--lightened-average), var(--lightened-max), var(--lightened-min));
        }
        > a:hover,
        > a:active,
        > a:focus {
            background-image: linear-gradient(to bottom, var(--darkened-min), var(--darkened-max), var(--darkened-average)), linear-gradient(to right, var(--darkened-min), var(--darkened-max), var(--darkened-average));
        }
        &.facebook {
            background-color: blue;
        }
        &.twitter {
            background-color: black;
        }
        &.linkedin {
            background-color: darkblue;
        }
        &.reddit {
            background-color: red;
        }
        &.email {
            background-color: grey;
        }
        &:first-of-type {
            border-radius: 16px 0 0 0;
            > a {
                border-radius: 16px 0 0 0;
            }
        }
        &:last-of-type {
            border-radius: 0 0 0 16px;
            > a {
                border-radius: 0 0 0 16px;
            }
        }
    }
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
nav > ul > li:hover > ul {
    display: block;
    position: absolute;
}
nav > ul > li > ul > li {
    background: var(--dark-green);
}

@media screen and (max-width: 1100px) {
    nav > ul > li {
        margin: 0.2em 0;
    }
    #body {
        width: 85%;
    }
}
@media screen and (max-width:700px) {
    div > div {
        padding: 0.25em 0.5em;
    }
    .bar {
        padding: 0 7.5%;
    }
    #body {
        width: 90%;
    }
}
@media screen and (max-width:500px) {
    div > div {
        padding: 0 0.5em;
    }
    .bar {
        padding: 0 5%;
    }
    li.active ul {
        grid-template-columns: 1fr;
    }
    footer.bar,
    nav {
        position: static;
    }
    nav > ul {
        grid-template-columns: 1fr;
    }
    nav li {
        margin: 0.75em;
    }
    nav > ul > li:hover > ul {
        position: relative;
    }
    nav a,
    nav span {
        width: 100%;
    }
    #body {
        width: 95%;
    }
}
@media screen and (max-width:400px) {
    .bar {
        padding: 0;
    }
    #body {
        width: 100%;
    }
}
@media print {
    li ul {
        display: grid;
    }
}
