{% extends '_base.html.twig' %}
{% block body %}
<h1>Admin-Dashboard</h1>
<p>Willkommen {{ user.first_name }} {{ user.last_name }}</p>
<h2>Kunden</h2>
<ul>
    <li><a href="/admin/customer/1">Example Company</a></li>
    <li><a href="/admin/customer/1">Example Company</a></li>
    <li><a href="/admin/customer/1">Example Company</a></li>
    <li><a href="/admin/customer/1">Example Company</a></li>
    <li><a href="/admin/customer/1">Example Company</a></li>
    <li><a href="/admin/customer/1">Example Company</a></li>
</ul>
<form action="/admin/customer" method="post">
    <fieldset>
        <legend>Basisdaten</legend>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" required/>
        </div>
        <div>
            <label for="email">eMail</label>
            <input type="email" name="email" placeholder="abc@name.de" required/>
        </div>
        <div>
            <button type="submit">Neuen Kunden anlegen</button>
        </div>
    </fieldset>
    <fieldset>
        <legend>Adresse</legend>
        <div>
            <label for="street">Straße</label>
            <input type="text" name="street" placeholder="Straße" required/>
        </div>
        <div>
            <label for="zip">PLZ</label>
            <input type="text" name="zip" placeholder="PLZ" required/>
        </div>
        <div>
            <label for="city">Ort</label>
            <input type="text" name="city" placeholder="Ort" required/>
        </div>
        <div>
            <label for="country">Land</label>
            <input type="text" name="country" placeholder="Land" required/>
        </div>
    </fieldset>
</form>
<h2>Offene Tickets</h2>
<ul>
    <li><a href="/admin/case/1">ABC Inhalt</a> Erstellt: 2024-01-01</li>
    <li><a href="/admin/case/1">ABC Inhalt</a> Erstellt: 2024-01-01</li>
    <li><a href="/admin/case/1">ABC Inhalt</a> Erstellt: 2024-01-01</li>
    <li><a href="/admin/case/1">ABC Inhalt</a> Erstellt: 2024-01-01</li>
    <li><a href="/admin/case/1">ABC Inhalt</a> Erstellt: 2024-01-01</li>
    <li><a href="/admin/case/1">ABC Inhalt</a> Erstellt: 2024-01-01</li>
</ul>
{% endblock %}