{% extends '_base.html.twig' %}
{% block body %}
<h1>Customer-Dashboard</h1>
<h2>Kundendaten</h2>
<form action="/admin/customer/1" method="post">
    <fieldset>
        <legend>Basisdaten</legend>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" required/>
        </div>
        <div>
            <label for="email">eMail</label>
            <input type="email" name="email" placeholder="abc@name.de" required/>
        </div>
        <div>
            <button type="submit">Ändern</button>
        </div>
    </fieldset>
    <fieldset>
        <legend>Adresse</legend>
        <div>
            <label for="street">Straße</label>
            <input type="text" name="street" placeholder="Straße" required/>
        </div>
        <div>
            <label for="zip">PLZ</label>
            <input type="text" name="zip" placeholder="PLZ" required/>
        </div>
        <div>
            <label for="city">Ort</label>
            <input type="text" name="city" placeholder="Ort" required/>
        </div>
        <div>
            <label for="country">Land</label>
            <input type="text" name="country" placeholder="Land" required/>
        </div>
    </fieldset>
</form>
<h2>Quotes</h2>
<ul>
    <li><a href="/admin/quote/1">Example Company</a> Created: 2024-01-01 Accepted: 2024-01-01</li>
    <li><a href="/admin/quote/1">Example Company</a> Created: 2024-01-01 Accepted: 2024-01-01</li>
    <li><a href="/admin/quote/1">Example Company</a> Created: 2024-01-01 Accepted: 2024-01-01</li>
    <li><a href="/admin/quote/1">Example Company</a> Created: 2024-01-01 Accepted: 2024-01-01</li>
    <li><a href="/admin/quote/1">Example Company</a> Created: 2024-01-01 Accepted: 2024-01-01</li>
    <li><a href="/admin/quote/1">Example Company</a> Created: 2024-01-01 Accepted: 2024-01-01</li>
</ul>
<form method="post" action="/admin/quote" enctype="multipart/form-data">
    <fieldset>
        <div>
            <label for="quote">Kostenvoranschlagsnummer</label>
            <input type="text" name="quote" pattern="[0-9]{4}BB[0-9]{4}" required/>
        </div>
        <div>
            <label for="created">Erstellt</label>
            <input type="date" name="created"/>
        </div>
        <div>
            <label for="value">Wert</label>
            <input type="number" name="value" step="0.01"/>
        </div>
        <div>
            <label for="currency">Currency</label>
            <input type="text" name="currency"/>
        </div>
        <div>
            <label for="paypal">PayPal-Link</label>
            <input type="url" name="paypal"/>
        </div>
        <div>
            <label for="document">Dokument</label>
            <input type="file" name="document" accept="application/pdf"/>
        </div>
        <div>
            <button type="submit">Neuen Kostenvoranschlag anlegen</button>
        </div>
    </fieldset>
</form>
<h2>Invoices</h2>
<ul>
    <li><a href="/admin/invoice/1">2023BB0001</a> Erstellt: 2024-01-01 Fällig: 2024-01-08 Gezahlt: -</li>
    <li><a href="/admin/invoice/1">2023BB0001</a> Erstellt: 2024-01-01 Fällig: 2024-01-08 Gezahlt: -</li>
    <li><a href="/admin/invoice/1">2023BB0001</a> Erstellt: 2024-01-01 Fällig: 2024-01-08 Gezahlt: -</li>
    <li><a href="/admin/invoice/1">2023BB0001</a> Erstellt: 2024-01-01 Fällig: 2024-01-08 Gezahlt: -</li>
    <li><a href="/admin/invoice/1">2023BB0001</a> Erstellt: 2024-01-01 Fällig: 2024-01-08 Gezahlt: -</li>
    <li><a href="/admin/invoice/1">2023BB0001</a> Erstellt: 2024-01-01 Fällig: 2024-01-08 Gezahlt: -</li>
</ul>
<form method="post" action="/admin/invoice" enctype="multipart/form-data">
    <fieldset>
        <div>
            <label for="invoice">Rechnungsnummer</label>
            <input type="text" name="invoice" pattern="[0-9]{4}BB[0-9]{4}" required/>
        </div>
        <div>
            <label for="created">Erstellt</label>
            <input type="date" name="created"/>
        </div>
        <div>
            <label for="value">Wert</label>
            <input type="number" name="value" step="0.01"/>
        </div>
        <div>
            <label for="currency">Currency</label>
            <input type="text" name="currency"/>
        </div>
        <div>
            <label for="paypal">PayPal-Link</label>
            <input type="url" name="paypal"/>
        </div>
        <div>
            <label for="document">Dokument</label>
            <input type="file" name="document" accept="application/pdf"/>
        </div>
        <div>
            <button type="submit">Neue Rechnung anlegen</button>
        </div>
    </fieldset>
</form>
{% endblock %}