{% extends '_base.html.twig' %}
{% block body %}
    <h1>2023BB0001</h1>
    <form method="post" action="/admin/quote/1/{{ lang }}" enctype="multipart/form-data">
        <fieldset>
            <div>
                <label for="quote">Rechnungsnummer</label>
                <input type="text" name="invoice" pattern="[0-9]{4}BB[0-9]{4}" required/>
            </div>
            <div>
                <label for="created">Erstellt</label>
                <input type="date" name="created"/>
            </div>
            <div>
                <label for="value">Wert</label>
                <input type="number" name="value" step="0.01"/>
            </div>
            <div>
                <label for="currency">Currency</label>
                <input type="text" name="currency"/>
            </div>
            <div>
                <label for="paypal">PayPal-Link</label>
                <input type="url" name="paypal"/>
            </div>
            <div>
                <label for="document">Dokument</label>
                <input type="file" name="document" accept="application/pdf"/>
            </div>
            <div>
                <button type="submit">Kostenvoranschlag aktualisieren</button>
            </div>
        </fieldset>
    </form>
    <h2>Entscheidung</h2>
    <form>
        <div>
            <label for="date">Entschieden am</label>
            <input type="date" name="date" required/>
        </div>
        <div>
            <label for="accepted">Ist akzeptiert</label>
            <input type="hidden" value="0" name="accepted"/>
            <input type="checkbox" value="1" name="accepted"/>
        </div>
        <div>
            <button type="submit">Entscheidung eintragen/aktualisieren</button>
        </div>
    </form>
{% endblock %}