@media only screen and (min-width: 768px) {
  div#blogpost-wrapper {
    > .tags {
      > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0 0 0.625em 0;
        list-style: none;

        > li {
          margin: 0.25em;
          padding: 0.25em;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 0.25em;
          box-shadow: 3px 3px 5px #ccc;
        }
      }
    }
  }
}