footer#main-footer {
  bottom: 0;
  width: 100%;
  height: 145px;
  line-height: 35px;
  font-size: 10px;
  background-color: var(--bb-green);

  a {
    text-decoration: none;
    color: var(--bb-white);

    &:hover {
      color: var(--bb-darkgrey);
    }

    &:active {
      text-decoration: underline;
    }
  }

  #inner {
    width: 1024px;
    margin: auto;
  }
}