footer#main-footer {
  bottom: 0;
  width: 100%;
  height: 145px;
  line-height: 35px;
  font-size: 10px;
  background-color: $bb-green;
  position: fixed;

  a {
    text-decoration: none;
    color: $bb-white;

    &:hover {
      color: $bb-darkgrey;
    }

    &:active {
      text-decoration: underline;
    }
  }

  #inner {
    width: 1024px;
    margin: auto;
  }
}