:root {
  --bb-green: #289548;
  --bb-lightgreen: #8ABB86;
  --bb-black: #111111;
  --bb-darkgrey: #333333;
  --bb-lightgrey: #EEEEEE;
  --bb-white: #FFFFFF;
  --bb-blue: #1E90FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Inter, Arial, sans-serif;
}

//
//#wrapper {
//  width: 1024px;
//  height: 75%;
//  margin: 0 auto;
//  padding: 10px;
//}
//
//#content {
//  height: auto !important;
//  min-height: 100%;
//  width: 80%;
//  border: 1px solid rgba(0, 0, 0, 0.15);
//  background: var(--bb-white);
//  box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
//  float: left;
//  padding: 15px;
//}
//
//#sidebar {
//  width: 20%;
//  height: 50px;
//  background-color: #CCCCCC;
//  float: left;
//}
//
//a {
//  text-decoration: none;
//  color: var(--bb-blue);
//
//  &:hover {
//    color: var(--bb-darkgrey);
//  }
//
//  &:active {
//    text-decoration: underline;
//  }
//}