$bb-green: #289548;
$bb-lightgreen: #8ABB86;
$bb-black: #111111;
$bb-darkgrey: #333333;
$bb-lightgrey: #F0F9F0;
$bb-white: #FFFFFF;
$bb-blue: #1E90FF;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Inter, Arial, sans-serif;
}

h1 {
  color: $bb-green;
  border-bottom: 1px solid $bb-green;
  margin: 0 0 20px 0;
}

h2, h3, h4, h5 {
  color: $bb-lightgreen;
}

a {
  text-decoration: none;
  color: $bb-blue;

  &:hover {
    color: $bb-darkgrey;
  }

  &:active {
    text-decoration: underline;
  }
}

p {
  margin: 10px 0;
  font-size: 0.85em;
}

#content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
  padding: 10px;
  margin: 10px 0;
}

#wrapper {
  margin: 0 auto 150px auto;
}

#sidebar {
  > div.inner {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
    margin: 0 0 10px 0;

    > h4 {
      color: $bb-green;
      border-bottom: 1px solid $bb-lightgreen;
    }

    > form {
      margin: 5px 0 0 0;
      text-align: right;

      > input, > button {
        width: 100%;
        height: 30px;
        color: $bb-white;
        margin: 0 0 5px 0;
      }

      > input[type=email], input[type=password] {
        background: #8ABB86;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
        border: none;
        padding: 0 5px;
      }

      > input[type=submit] {
        background-color: $bb-green;
        cursor: pointer;
      }

      a {
        font-size: 0.75em;
        color: $bb-black;

        &:hover {
          color: $bb-blue;
        }

        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #wrapper {
    width: 1024px;
    margin: 0 auto 150px auto;
  }

  #content {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
    padding: 10px;
    margin: 10px 0;
  }

  #sidebar {
    margin: 10px 0;
    padding: 0 10px;

    > div.inner {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
    }
  }
}
