:root {
  --bb-green: #289548;
  --bb-lightgreen: #8ABB86;
  --bb-black: #111111;
  --bb-darkgrey: #333333;
  --bb-lightgrey: #EEEEEE;
  --bb-white: #FFFFFF;
  --bb-blue: #1E90FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--bb-green);
  border-bottom: 1px solid var(--bb-green);
  margin: 0 0 5px 0;
}

h2, h3, h4, h5 {
  color: var(--bb-lightgreen);
}

p {
  margin: 10px 0;
  font-size: 0.85em;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Inter, Arial, sans-serif;
}


#content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
  padding: 10px;
  margin: 10px 0;
}

#sidebar {
  > div.inner {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
    margin: 0 0 10px 0;

    > h4 {
      color: var(--bb-green);
      border-bottom: 1px solid var(--bb-lightgreen);
    }

    > form {
      margin: 5px 0 0 0;
      text-align: right;

      > input, > button {
        width: 100%;
        height: 30px;
        color: var(--bb-white);
        margin: 0 0 5px 0;
      }

      > input[type=email], input[type=password] {
        background: #8ABB86;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
        border: none;
        padding: 0 5px;
      }

      > input[type=submit] {
        background-color: var(--bb-green);
        cursor: pointer;
      }

      a {
        font-size: 0.75em;
        color: var(--bb-black);

        &:hover {
          color: var(--bb-blue);
        }

        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #wrapper {
    width: 1024px;
    margin: 0 auto;
  }

  #content {
    height: auto !important;
    min-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
    padding: 10px;
    margin: 10px 0;
  }

  #sidebar {
    margin: 10px 0;
    padding: 0 10px;

    > div.inner {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 4px 4px 0 rgba(203, 203, 203, 0.25);
    }
  }
}

a {
  text-decoration: none;
  color: var(--bb-blue);

  &:hover {
    color: var(--bb-darkgrey);
  }

  &:active {
    text-decoration: underline;
  }
}