.header {
  padding: 0.625em 0;
  display: flex;
  justify-content: center;
  background-color: #f0f9f0;

  > a {
    text-decoration: none;

    &:last-of-type {
      > img {
        &.small {
          width: 2em;
          height: 2em;
          border-radius: 12px;

          &:last-of-type {
            margin-left: -3em;
            margin-bottom: -0.5em;
          }
        }
      }
    }
  }

  > h1 {
    font-size: 1.375em;
    padding: 1.1em 1.1em 0 1.1em;
    border: none;
    color: $bb-black;
  }
}