nav#main-navigation {
  font-size: 0.75em;

  > ul {
    list-style: none;

    > li {
      > a.active, > span.active {
        background: var(--bb-darkgrey);
      }
    }

    > li, > ul > li {
      width: 100%;
      height: 35px;

      &:hover {
        height: auto;

        > ul {
          display: block;

          > li > a, > li > span {
            background-color: var(--bb-darkgrey);

            &.active-sub {
              background-color: var(--bb-lightgreen);
            }

            &:hover {
              background-color: var(--bb-lightgreen);
            }
          }
        }
      }

      > a, > span, > ul > li > a {
        width: inherit;
        height: inherit;
        display: block;
        text-align: center;
        line-height: 35px;
        border-bottom: 1px solid var(--bb-darkgrey);
        background-color: var(--bb-green);
        color: var(--bb-white);
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: var(--bb-lightgreen);
        }

        &:active {
          background-color: var(--bb-darkgrey);
        }
      }

      > ul {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  nav#main-navigation {
    width: 100%;
    height: 37px;
    background: linear-gradient(180deg, #8ABB86 0%, #289548 8.33%), #289548;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;

    > ul {
      width: 1024px;
      height: 35px;
      margin: 0 auto;
      list-style: none;

      > li {
        width: auto;
        height: 35px;
        float: left;
        position: relative;
        white-space: nowrap;

        > ul {
          display: none;
        }

        &:hover {
          > ul {
            display: block;
            position: absolute;
            list-style: none;

            > li {
              &:last-of-type {
                > a {
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                }
              }

              > a {
                background-color: var(--bb-darkgrey);
                padding: 0 10px;
                border: none;

                &:hover {
                  background-color: var(--bb-lightgreen);
                }
              }
            }
          }
        }

        > a, > span {
          background: linear-gradient(180deg, #8ABB86 0%, #289548 8.33%), #289548;
          border: none;
          padding: 0 10px;

          &:hover {
            background-color: var(--bb-lightgreen);
          }

          &:active {
            background-color: var(--bb-darkgrey);
          }
        }
      }
    }
  }
}