div#share-buttons {
  ul {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 25%;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;

    > li {
      display: block;
      width: 32px;
      height: 32px;
      line-height: 32px;

      > a,
      > a:hover,
      > a:active,
      > a:visited,
      > a:focus {
        color: white;
        cursor: pointer;
        text-decoration: none;
        width: 32px;
        height: 32px;
        display: block;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.125)), linear-gradient(to right, rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.125));
      }

      > a:hover,
      > a:active,
      > a:focus {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.125)), linear-gradient(to right, rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.125));
      }

      &.facebook {
        background-color: blue;
      }

      &.twitter {
        background-color: lightblue;
      }

      &.linkedin {
        background-color: darkblue;
      }

      &.reddit {
        background-color: red;
      }

      &.email {
        background-color: grey;
      }

      &:first-of-type {
        border-radius: 16px 0 0 0;

        > a {
          border-radius: 16px 0 0 0;
        }
      }

      &:last-of-type {
        border-radius: 0 0 0 16px;

        > a {
          border-radius: 0 0 0 16px;
        }
      }
    }
  }
}