{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<form>
    <label for="email">{{ content.email }}</label>
    <input type="email" required id="email" name="email"/>
    <span></span>
    <button type="submit">{{ content.request }}</button>
</form>
{% include 'footer.twig' %}