{% extends '_base.html.twig' %}
{% block body %}
<h1>Willkommen bei uns!</h1>
<p>Wir sind ein kleines Unternehmen, welches sich auf hochwertige Dienstleistungen im Webbereich spezialisiert hat.</p>
<p>Neben verschiedenen Hostingleistungen bieten wir ebenfalls Softwareentwicklung, Administrationssupport, Performanceoptimierung, technische Suchmaschienenoptimierung(SEO) und Beratungsleistungen an.</p>
<p>Wir bemühen uns immer um faire Preise und glückliche Kunden, denn glückliche Kunden werben für uns - nicht nur, weil es dafür einen kleinen Bonus gibt.</p>
<p>Unsere detaillierte Abrechnung erfolgt über PayPal jeweils zu Anfang eines Monats, Sie haben also kein Risiko, dass wir Ihr Geld einfach einbehalten.</p>
<p>Haben Sie Fragen? Schicken Sie uns gerne eine Mail an <a href="mailto:service@bjoern-buettner.me">service@bjoern-buettner.me</a>, wir werden uns schnellstmöglich zurückmelden.</p>
<p>Wir freuen uns jetzt schon Ihre Probleme in Ihre Chancen zu verwandeln!</p>
{% endblock %}