{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<img class="me" src="me.jpg" alt="Björn Büttner"/>
{% for line in content.paragraphs %}
<p>{{ line }}</p>
{% endfor %}
{% include 'footer.twig' %}