{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<img class="me" src="/me.jpg" alt="Björn Büttner"/>
{% for line in content.paragraphs %}
<p>{{ line }}</p>
{% endfor %}
<h2>Links</h2>
<ul>
    <li><a target="_blank" href="https://github.com/idrinth">Github</a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/bjoern-idrinth-buettner/">LinkedIn</a></li>
</ul>
{% include 'footer.twig' %}