{% include 'header.twig' %}
<h1>Welcome in!</h1>
<p>We are a small business that specialises in high quality webservices.</p>
<p>Starting from web hosting to software development, administrative support, performance optimizations, technical search engine optimization(SEO) and consulting we cover everything desirable in our field.</p>
<p>We always try to make our customers happy, both with the high quality of our results and fair prices - because happy customers tell their story not just for the small recruiting bonus.</p>
<p>Our detailed invoicing happens via PayPal at the beginning of each month. This makes sure, that you have the security, that your money won't just disappear.</p>
<p>Do you have any questions? Send a mail to <a href="mailto:service@bjoern-buettner.me">service@bjoern-buettner.me</a>, we will answer as soon as possible.</p>
<p>We are looking forward to turning your problems into your chances!</p>
{% include 'footer.twig' %}