{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<form>
    <label for="pw1">{{ content.password }}</label>
    <input type="password" id="pw1" required name="pw1" minlength="20"/>
    <label for="pw2">{{ content.password }}</label>
    <input type="password" id="pw2" required name="pw2" minlength="20"/>
    <span></span>
    <button type="submit">{{ content.change }}</button>
</form>
{% include 'footer.twig' %}