{% extends '_base.html.twig' %}
{% block body %}
<h1>{{ content.title }}</h1>
<p>If you are interested in where we get our services from, you are in the right spot!</p>
<h2>eMail Inboxes &amp; Office Package Upgrades</h2>
<p>eMails are provided from a <a target="_blank" href="https://microsoft365.com">Microsoft 365</a> Exchange with data hosted in Germany. By default, you get web-access to outlook and teams with an eMail inbox. A full business package from Microsoft 365 can also be provided through and supported by our team. This allows for local installation of the software, including Outlook and Teams.</p>
<h2>Servers &amp; Websites</h2>
<p>The servers are provided by <a href="https://www.hosteurope.de" target="_blank">HostEurope</a>. We have been working with HostEurope for years already and the have proven to be a reliable hosting provider.</p>
<h2>Performance &amp; Uptime Monitoring</h2>
<p>Performance and Uptime monitoring is provided via <a target="_blank" href="https://www.atatus.com">Atatus</a>. Due to the way we host your webpages, we can provide per-customer performance monitoring and per-website uptime monitoring packages respectively, leading to even fairer prices.</p>
<h2>User Monitoring</h2>
<p>User monitoring is done with <a target="_blank" href="https://matomo.org">Matomo</a> hosted by our team. The software has about the same capabilities as Google Analytics for a lower price.</p>
<h2>Website configuration</h2>
<p>The configuration is versioned with the help of <a target="_blank" href="https://about.gitea.com">gitea</a> and automatically deployed via <a target="_blank" href="https://github.com/Idrinth/secret-deployer">Secret Deployer</a>.</p>
<h2>HTTPS-certificates</h2>
<p>HTTPS certificates are provided by <a target="_blank" href="https://letsencrypt.org">Let's Encrypt</a> via <a target="_blank" href="https://github.com/idrinth/webroot">Webroot</a> automatically.</p>
<h2>Domain registration</h2>
<p>The domains are bought and provided by <a href="https://www.hosteurope.de" target="_blank">HostEurope</a>'s nameservers. We have been working with HostEurope for years already and the have proven to be a reliable hosting provider.</p>
<h2>Quotes, Invoices and Payments</h2>
<p><a href="https://www.paypal.com" target="_blank">PayPal</a> is used almost exclusively, so that all customers have the ability to get their money returned if we don't deliver.</p>
{% endblock %}