{% extends '_base.html.twig' %}
{% block body %}
<h1>{{ content.title }}</h1>
<p>Fall Sie daran interessiert sind, wo wir unsere Lösungen beziehe, sind Sie hier auf der richtigen Seite!</p>
<h2>eMail-Postfächer &amp; Office Paket Erweiterung</h2>
<p>eMails werden durch einen <a target="_blank" href="https://microsoft365.com">Microsoft 365</a> Exchange bereitgestellt, dessen Daten in Deutschland gehostet werden. Zugriff via Web auf Teams und Outlook ist im Postfach inbegriffen. Ein komplettes lokales und gewerbliches Office von Microsoft 365 bereitgestellt und betreut von unserem Team. Dieses Paket erlaubt auch die lokale Installation der Programme, inklusive Outlook und Teams.</p>
<h2>Websites</h2>
<p>Websites werden auf einem <a target="_blank" href="https://azure.microsoft.com">Microsoft Azure</a> Server in Frankreich gehostet. Frankreich erlaubt niedrigere Preise bei gleicher Qualität.</p>
<h2>Verfügbarkeitsüberwachung &amp; Performanceüberwachung</h2>
<p>Die Verfügbarkeit und Performance wird via <a target="_blank" href="https://www.atatus.com">Atatus</a> überwacht. Um fairer zu Ihnen zu sein, stellen berechnen wir Preise pro Kunde bei der Performanceüberwachung beziehungsweise pro Webseite bei der Verfügbarkeitsüberwachung.</p>
<h2>Nutzerüberwachung</h2>
<p>Nutzerüberwachung wird durch <a target="_blank" href="https://matomo.org">Matomo</a> durchgeführt und wird von uns gehostet. Die Software hat etwa die gleichen Fähigkeiten wie Google Analytics, bietet diese aber für einen niedrigeren Preis.</p>
<h2>Webseitenkonfiguration</h2>
<p>Die Konfiguration wird mit der Hilfe von <a target="_blank" href="https://about.gitea.com">gitea</a> versioniert und automatisch durch <a target="_blank" href="https://github.com/Idrinth/secret-deployer">Secret Deployer</a> bereitgestellt.</p>
<h2>HTTPS-Zertifikate</h2>
<p>HTTPS-Zertifikate werden von <a target="_blank" href="https://letsencrypt.org">Let's Encrypt</a> bereitgestellt und von <a target="_blank" href="https://github.com/idrinth/webroot">Webroot</a> automatisch angefordert und verwaltet.</p>
<h2>Domainregistrierung</h2>
<p>Die Domains werden über <a href="https://www.hosteurope.de">Hosteurope</a> eingekauft und über deren Nameserver bereitgestellt. Hosteurope ist ein zuverlässiger Hostingdienstleister, mit dem wir seit Jahren arbeiten.</p>
<h2>Angebote, Rechnungen und Zahlungen</h2>
<p><a href="https://www.paypal.com" target="_blank">PayPal</a> wird fast ausschließlich genutzt, damit alle Kunden die Sicherheit haben ihr Geld zurückfordern zu können.</p>
<h2>Suchmaschienenoptimierung(SEO)</h2>
<p>Um diese Seite und Kundenseiten zu optimieren wird <a href="https://www.seobility.net" target="_blank">Seobility</a> neben einigen zusätzlichen Werkzeugen genutzt. Neben der übersichtlichen Reports, weist Seobility zusätzlich ein sehr gutes Preisleistungsverhältnis vor.</p>
{% endblock %}