{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<p>If you are interested in where I get my services from, you are in the right spot!</p>
<h2>eMail Inboxes</h2>
<p>eMails are provided from a <a target="_blank" href="https://microsoft365.com">Microsoft 365</a> Exchange with data hosted in Germany. By default, you get web-access to outlook and teams with an eMail inbox.</p>
<h2>Office Package Upgrade</h2>
<p>A full business package from <a target="_blank" href="https://microsoft365.com">Microsoft 365</a> provided through and supported by me. This allows for local installation of the software, including Outlook and Teams.</p>
<h2>Websites</h2>
<p>Websites are hosted on a <a target="_blank" href="https://azure.com">Microsoft Azure</a> server in France. France allows for lower prices at the same quality level.</p>
<h2>Uptime Checks</h2>
<p>Uptime checks are provided via <a target="_blank" href="https://atatus.com">Atatus</a>. I am reselling their uptime check in more reasonable sizes, so you aren't overpaying.</p>
<h2>Performance Monitoring</h2>
<p>Performance Monitoring is provided via <a target="_blank" href="https://atatus.com">Atatus</a>. I am reselling their solution for a per-customer price instead of their per-virtual-host pricing, since that is fairer and cheaper to you.</p>
<h2>User Monitoring</h2>
<p>User monitoring is done with <a target="_blank" href="https://matomo.org">Matomo</a> hosted by me. The software has about the same capabilities as Google Analytics for a lower price.</p>
<h2>Case Handling</h2>
<p>Handling of your cases is done via <a target="_blank" href="https://suitecrm.com">SuiteCRM</a> on a virtual server hosted by me. This allows me to more easily respond to your questions and solve your problems quickly.</p>
<h2>Website configuration</h2>
<p>The configuration is versioned with the help of <a target="_blank" href="https://gitea.io">gitea</a> and automatically deployed via <a target="_blank" href="https://github.com/Idrinth/secret-deployer">Secret Deployer</a>.</p>
<h2>HTTPS-certificates</h2>
<p>HTTPS certificates are provided by <a target="_blank" href="https://letsencrypt.org">Let's Encrypt</a> via <a target="_blank" href="https://github.com/idrinth/webroot">Webroot</a> automatically.</p>
<h2>Domain registration</h2>
<p>The domains are bought and provided by <a href="https://hosteurope.de" target="_blank">HostEurope</a>'s Nameservers.</p>
<h2>Quotes, Invoices and Payments</h2>
<p><a href="https://paypal.com" target="_blank">PayPal</a> is used almost exclusively, so that all customers have the ability to get their money returned if I don't deliver.</p>
{% include 'footer.twig' %}