{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<p>Fall Sie daran interessiert sind, wo ich meine Lösungen beziehe, sind Sie hier auf der richtigen Seite!</p>
<h2>eMail-Postfächer</h2>
<p>eMails werden durch einen <a target="_blank" href="https://microsoft365.com">Microsoft 365</a> Exchange bereitgestellt, dessen Daten in Deutschland gehostet werden. Zugriff via Web auf Teams und Outlook ist im Postfach inbegriffen.</p>
<h2>Office Paket Erweiterung</h2>
<p>Ein komplettes gewerbliches Office von <a target="_blank" href="https://microsoft365.com">Microsoft 365</a> bereitgestellt und betreut von mir. Dieses Paket erlaubt die lokale Installation der Programmer, inklusive Outlook und Teams.</p>
<h2>Websites</h2>
<p>Websites werden auf einem <a target="_blank" href="https://azure.microsoft.com">Microsoft Azure</a> Server in Frankreich gehostet. Frankreich erlaubt niedrigere Preise bei gleicher Qualität.</p>
<h2>Verfügbarkeitsüberwachung</h2>
<p>Die Verfügbarkeit wird via <a target="_blank" href="https://atatus.com">Atatus</a> überwacht. Ich verkaufe ihre Pakete in sinnvolleren Größen weiter, sodass Sie nicht übermäßig bezahlen.</p>
<h2>Performanceüberwachung</h2>
<p>Performanceüberwachung wird durch <a target="_blank" href="https://atatus.com">Atatus</a> bereitgestellt. Ich verkaufe ihre pro-virtuellem-Host-Pakete als pro-Kunden-Pakete weiter, da dies fairer und billiger für Sie ist.</p>
<h2>Nutzerüberwachung</h2>
<p>Nutzerüberwachung wird durch <a target="_blank" href="https://matomo.org">Matomo</a> durchgeführt und wird von mir gehostet. Die Software hat etwa die gleichen Fähigkeiten wie Google Analytics, bietet diese aber für einen niedrigeren Preis.</p>
<h2>Fallbearbeitung</h2>
<p>Ihre Supportfälle werden via <a target="_blank" href="https://suitecrm.com">SuiteCRM</a> auf einem meiner virtuellen Server bearbeitet. Dies erlaubt mir schnell und gründlich zu arbeiten und damit Ihre Probleme zu lösen.</p>
<h2>Webseitenkonfiguration</h2>
<p>Die Konfiguration wird mit der Hilfe von <a target="_blank" href="https://about.gitea.com">gitea</a> versioniert und automatisch durch <a target="_blank" href="https://github.com/Idrinth/secret-deployer">Secret Deployer</a> bereitgestellt.</p>
<h2>HTTPS-Zertifikate</h2>
<p>HTTPS-Zertifikate werden von <a target="_blank" href="https://letsencrypt.org">Let's Encrypt</a> bereitgestellt und von <a target="_blank" href="https://github.com/idrinth/webroot">Webroot</a> automatisch angefordert und verwaltet.</p>
<h2>Domainregistrierung</h2>
<p>Die Domains werden über <a href="https://hosteurope.de">Hosteurope</a> eingekauft und über deren Nameserver bereitgestellt.</p>
<h2>Angebote, Rechnungen und Zahlungen</h2>
<p><a href="https://paypal.com" target="_blank">PayPal</a> wird fast ausschließlich genutzt, damit alle Kunden die Sicherheit haben ihr Geld zurückfordern zu können.</p>
{% include 'footer.twig' %}